---
layout: default
title: Yoel Cabo
lang: ca
---

<!DOCTYPE html>
<html lang="ca">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} {% include bio.html %}
      <div class="language-switcher">
        <span class="lang-link active">Català</span>
        <a href="/en" class="lang-link">English</a>
      </div>
      <section class="articles">
        {% for post in site.posts %}
        {% if post.lang == 'ca' %}
        <a href="{{site.baseurl}}{{post.url}}">
          <article class="article">
            <h2 class="article-title">
              {{post.title}}
            </h2>
            <small class="date" style="color: var(--white-2)">{{post.date | date_to_string}}</small>
            <div class="categories">
              {% for c in post.categories %}
              <span class="category">{{c}}</span>
              {% endfor %}
            </div>
          </article>
        </a>
        {% endif %}
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html> 