<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        {% for post in site.posts %}
        <a href="{{site.baseurl}}{{post.url}}">
          <article class="article">
            <h2 class="article-title">
              {{post.title}}
            </h2>
            <small class="date" style="color: var(--white-2)">{{post.date | date_to_string}}</small>
            <div class="categories">
              {% for c in post.categories %}
              <span class="category">{{c}}</span>
              {% endfor %}
            </div>
        </article>
        </a>
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
